h1 {
  font-family: helvetica;
  font-size: 70px;
  color: white;
}

.opening {
  background-image: url(../images/building.png);
  text-align: center;
  font-weight: bold;

}
.nav {
  font-family: helvetica;
  font-size: 18px;
  color:white;

}

a {
  color: white;
  font-size: 18px;
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: helvetica;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.identify, .execute, .understand {
  text-align: center;
}

#new-york {
    background-image: url(../images/building.png);
    color: white;
    font-size: 23px;
    font-weight: bold;

}

#end p {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  font-family: helvetica;
}

#end p a {
  font-size: 11px;
}
